@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
background-color: #142850;
      
}

.c{
    height: 5cm;
    width: 5cm;
    background-color: rgba(228, 228, 228, 0.356);
    border-radius: 50%;
    border: double #080327 8px;
    position: absolute;
    margin-left: -4.5cm;
    margin-top: -1cm;

}


::selection{
    background-color: rgba(255, 217, 0, 0.342);
    color: black;
}


.all{
    height: 13cm;
    width: 25cm;
    background-image: url("./img/5039684.jpg");
    background-size: cover;
    margin-left: 5.5cm;
 margin-top: 1.7cm;
 border-radius: 30px;
 box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.61);
}

.about{
    float: left;
    border-radius: 30px;
    border-right: 0.2px solid rgba(0, 0, 0, 0.452);
    height: 13cm;
    width: 6.5cm;
    background-color: #00a7ccee;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.308);
margin-left: -1px;
margin-top: -1px;
}
.about2{
    float: right;
    height: 13cm;
    width: 18cm;
}



.me{
    height: 2.5cm;
    width: 2.5cm;
    border-radius: 50px;
    margin-top: 0.5cm;
    border: rgb(255, 255, 255) solid 3px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.308);

}

.about-h2{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #edf0f1;
    font-size: large;
    padding-top: 0.2cm;

}

.about-h4{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #edf0f180;
    font-size: small;
    padding-top: 0.1cm;
}

#icon{
font-size: 0.6cm;
    color: white;
    margin-top: 0.8cm;
    margin-left: 0.3cm;
    margin-right: 0.3cm;
    transition: all 0.3s ease 0s;
    height: 0.8cm;
cursor: pointer;
}

#icon:hover{
    font-size: 1cm;
    color: #142850;
    margin: 0;
    padding: 0;
    cursor: pointer;

}

button{
    height: 1cm;
    width: 3cm;
    background: none;
    border: 2px #edf0f1 solid;
    font-size: medium;
    color: #edf0f1de;
    border-radius: 50px;
    margin-top: 1cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
transition: all 0.3s ease 0s;
}

button:hover{
  background:none;
  border: none;
box-shadow: 0px 5px 50px #edf0f1,
0px 4px 40px #edf0f1,
0px 3px 30px #edf0f1,
0px 2px 20px #edf0f1,
0px 1px 10px #edf0f1;
color: #edf0f1;
cursor: pointer;

}

pre{
    font-size: x-small;
    color: rgba(245, 245, 245, 0.705);
    margin-top: 4.5cm;
    
}

.h1{
    font-size: 1cm;
    font-family: Arial, Helvetica, sans-serif;
    color: #00A8CC;
    padding-top: 0.4cm;
    text-align: center;
}

.li{
    color: #edf0f1d5;
    font-size: 15px;
    text-align: left;
font-family: 'Raleway', sans-serif;
margin-top: 2.1cm;
list-style: none;
}

.li2{
    color: #edf0f1d5;
    font-size: 15px;
    text-align: left;
font-family: 'Raleway', sans-serif;
margin-top: 1.5cm;
list-style: none;

}

#icon2{
    color: #00A8CC;
    font-size: x-large;
letter-spacing: 25px;
text-align: left;

}

.h11{
    font-size: 1cm;
    font-family: Arial, Helvetica, sans-serif;
    color: #00A8CC;
    text-align: right;
    margin-top: -1.3cm;
    padding-right: 13px;
   
}

.skills{
    float: right;
    height: 8cm;
    width:10cm;
    margin-top: 2.1cm;
}
.skk{
    font-size: 0px;
    height: 0;
    width: 0;
    background-color: #00A8CC;
    margin-left: 3cm;
  margin-top: 10px;
  border-radius: 20px;
  text-align: right;
  padding-right: 5px;
  animation-name:skk ;
  animation-duration: 1s;
  animation-fill-mode:forwards ;
  animation-delay: 1s;
}

.sk{
    font-size: 0px;
    height: 0;
    width: 0;
    background-color: #00A8CC;
    margin-left: 3cm;
  margin-top: 1.2cm;
  border-radius: 20px;
  text-align: right;
  padding-right: 5px;
  animation-name:skk ;
  animation-duration: 1s;
  animation-fill-mode:forwards ;
  animation-delay: 1s;

}

.ss{
    font-size: 0px;
    height: 0;
    width: 0;
    width: 5cm;
    background-color: #00A8CC;
    margin-left: 3cm;
    margin-top: 1.4cm;
    border-radius: 20px;
  text-align: right;
  padding-right: 5px;

  animation-name:ss ;
  animation-duration: 1s;
  animation-fill-mode:forwards ;
  animation-delay: 1s;

}

.s{
    font-size: 0px;
    height: 0;
    width: 0;
    background-color: #00A8CC;
    margin-left: 3cm;
  margin-top: 1.2cm;
  border-radius: 20px;
  text-align: right;
  padding-right: 5px;
  animation-name:s ;
  animation-duration:1s;
  animation-fill-mode:forwards ;
  animation-delay: 1s;
  transition: all 1s ease 0s;

}

.a{
height: 1cm;
width: 1cm;
border-radius: 50px;
background-color: #142850;
border: 0.1px solid #edf0f1;
position: absolute;
margin-left: 22cm;
margin-top: -0.4cm;
}

.b{
    height: 1cm;
    width: 1cm;
    background-color: #142850;
    border-radius: 50px;
    border: 1px outset #edf0f1;
    position: absolute;
    margin-top: 9cm;
    margin-left: -0.5cm;

}


@keyframes skk {
    0%{
        width: 0cm;
        height: 0cm; 
        background: none;
        color: #00000000;

    }

    10%{
        width: 0cm;
        height: 0cm; 
        color: none;
        background: none;
        color: #00000000;

    }

    20%{
        width: 0cm;
        height: 0.4cm; 
        color: none;
        color: #00000000;

    }

    30%{
        width: 0cm;
        height: 0.4cm; 
        color: none;
        color: #00000000;


    }

    40%{
        width: 0cm;
        height: 0.4cm; 
        color: #00000000;

    }

    50%{
        width: 1cm;
        height: 0.4cm; 
        color: #00000000;

    }

    60%{
        width: 2cm;
        height: 0.4cm; 
        color: #00000000;

    }

    70%{
        width: 3cm;
        height: 0.4cm; 
        color: #00000000;

    }

    80%{
        width: 4cm;
        height: 0.4cm; 
        color: #00000000;

    }
    90%{
        width: 5cm;
        height: 0.4cm; 
        color: #00000000;

    }
    100%{
        width: 6cm;
        height: 0.4cm;   
        color: #000000;
        font-size: small;
    }
}



@keyframes ss {
    0%{
        width: 0cm;
        height: 0cm; 
        background: none;
        color: #00000000;

    }

    10%{
        width: 0cm;
        height: 0cm; 
        color: none;
        background: none;
        color: #00000000;

    }

    20%{
        width: 0cm;
        height: 0.4cm; 
        color: none;
        color: #00000000;

    }

    30%{
        width: 0cm;
        height: 0.4cm; 
        color: none;
        color: #00000000;


    }

    40%{
        width: 0cm;
        height: 0.4cm; 
        color: #00000000;

    }

    50%{
        width: 0cm;
        height: 0.4cm; 
        color: #0000000e;

    }

    60%{
        width: 1cm;
        height: 0.4cm; 
        color: #00000070;

    }

    70%{
        width: 2cm;
        height: 0.4cm; 
        color: #0000003b;

    }

    80%{
        width: 3cm;
        height: 0.4cm; 
        color: #00000073;

    }
    90%{
        width: 4cm;
        height: 0.4cm; 
        color: #000000d5;

    }
    100%{
        width: 5cm;
    height: 0.4cm;
    color: #000000;

    font-size: small;

    }
}

@keyframes s {
    0%{
        width: 0cm;
        height: 0cm; 
        background: none;
        color: #00000000;

    }

    10%{
        width: 0cm;
        height: 0cm; 
        color: none;
        background: none;
        color: #00000000;

    }

    20%{
        width: 0cm;
        height: 0.4cm; 
        color: none;
        color: #00000000;

    }

    30%{
        width: 0cm;
        height: 0.4cm; 
        color: none;
        color: #00000000;


    }

    40%{
        width: 0cm;
        height: 0.4cm; 
        color: #00000000;

    }

    50%{
        width: 0cm;
        height: 0.4cm; 
        color: #edf0f10e;

    }

    60%{
        width: 1cm;
        height: 0.4cm; 
        color: #00000070;

    }

    70%{
        width: 2cm;
        height: 0.4cm; 
        color: #0f0f0f3b;

    }

    80%{
        width: 3cm;
        height: 0.4cm; 
        color: #00000073;

    }
    90%{
        width: 4cm;
        height: 0.4cm; 
        color: #000000d5;

    }
    100%{
        width: 4.7cm;
        height: 0.4cm;
        color: #000000;
        font-size: small;

    }
}


@media screen and (max-width:1000px) {
   body{
       background-image: url("./img/phon.png");
       background-size: cover;
        height: 100vh;
   }
.all{
    margin: 0;
    margin-top: 1cm;
    padding: 0;
    background: none;
box-shadow: none;
border: none;

}

.about{
   
    height: 40cm;
background: none;
box-shadow: none;
border: none;
margin-left: 10cm;

}
    
.about2{
    margin-top:  -16cm;
    height: 15cm;
    width: 25cm;
}

.me{
    height: 8.5cm;
    width: 8.5cm;
    border-radius: 50%;
    margin-left: -1cm;
    border: 10px solid #edf0f1;
    box-shadow:  rgba(0, 0, 0, 0.61) 0px 18px 24px;
}

.about-h2{
    font-size: 1cm;
    padding-top: 1cm;

}

.about-h4{
    font-size: 0.8cm;
    padding-top: 0.8cm;

}

#icon{
    font-size: 1.6cm;
    color: white;
    margin-left: 1.5cm;
line-height: 0;

}

#icon:hover{
    font-size: 1.6cm;
margin: 0;
padding:0;
margin-left: 1.2cm;

}
#icon:active{
    background-color: #142850;
}

.allicon{
    height: 4cm;
    width: 25cm;
    margin-left: -10cm;
    margin-top: 2cm;

}

button{
    height: 2cm;
    width: 10cm;
    font-size: 1cm;
    margin-left: -2cm;
    margin-top: -0.5cm;
}

pre{
    margin-left: -3cm;
    font-size: 0.8cm;
margin-top: 23cm;
color: #edf0f16c;
float: inline-end;
}

.a{
    display: none;

}

.b{
    display: none;
}
.li{
    font-size: 0.8cm;
   
}

.li2{
    font-size: 0.8cm;

}

.h1{
    font-size: 2cm;
    margin-left: 25px;
}


.skk{
    background-color: #00A8CC;
    margin-left: 3cm;
  margin-top: 1cm;
  border-radius: 20px;
  color: #edf0f1;
  text-align: right;
  font-size: 0.5cm;
  padding-right: 5px;
  animation-name:skk ;
  animation-duration: 1s;
  animation-fill-mode:forwards ;
  animation-delay: 0s;
  border: 3px #00A8CC solid;
}

.sk{
    background-color: #00A8CC;
    margin-left: 3cm;
  margin-top: 2cm;
  border-radius: 20px;
  color: #edf0f1;
  text-align: right;
  font-size: 0.5cm;
  padding-right: 5px;
  animation-name:skk ;
  animation-duration: 1s;
  animation-fill-mode:forwards ;
  animation-delay: 0s;
  border: 3px #00A8CC solid;

}

.ss{
    width: 5cm;
    background-color: #00A8CC;
    height: 0.4cm;
    margin-left: 3cm;
    margin-top: 2cm;
    border-radius: 20px;
  color: #edf0f1;
  text-align: right;
  font-size: 0.5cm;
  padding-right: 5px;

  animation-name:ss ;
  animation-duration: 1s;
  animation-fill-mode:forwards ;
  animation-delay: 0s;
  border: 3px #00A8CC solid;

}
.s{
    background-color: #00A8CC;
    margin-left: 3cm;
  margin-top: 2cm;
  border-radius: 20px;
  color: #edf0f1;
  text-align: right;
  font-size: 0.5cm;
  padding-right: 5px;
  animation-name:s ;
  animation-duration: 1s;
  animation-fill-mode:forwards ;
  animation-delay: 0s;
  transition: all 1s ease 0s;
  border: 3px #00A8CC solid;

}

button:hover{
    box-shadow: none;
    border: 2px #edf0f1 solid;

}
button:active{
    background-color: rgba(0, 0, 0, 0.582);
}


#icon2{
   font-size: 1.5cm;
   color: white;
   margin-left: 1cm;

}

.c{
    position: absolute;
    background-color: #0c7a9333;
    height: 5cm;
    width: 5cm;
    border-radius: 50%;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, .15);
    border: double #edf0f1 20px;
    margin-left: -4cm;
}




}
